*{
  box-sizing: border-box;
}

:root{
  --theme-purple: #702963;
  --black-color: #000000;
  --white-color: #ffffff;
  --grey-color: #848484;
  --body-background: #ffffff;
  --font-family: "Lato", sans-serif;
  --heading-font:"Poppins", sans-serif;
  --heading-font-handwriting: "Tangerine", cursive;
  --border-radius: 5px;
  --font-size: 18px;
}



body{
  font-family: "Lato", sans-serif !important;
  color: var(--black-color);
}

/* =============================== 
    General elements
=============================== */
a{
  text-decoration: none !important;
}

img{
  display: block;
  width: 100%;
}



/* ===============================
      USERNAVBAR
===================================*/
.user-nav{
  background-color: var(--white-color);
  border-bottom: var(--grey-color) solid 1px;
}

.nav-logo{
  font-size: 32px;
  font-weight: 600;
  color: var(--theme-purple);
  font-family: var(--heading-font);
  margin-right: 50px;
}


.user-navlink{
  color: var(--black-color);
  margin-right: 20px;
  font-size:  var(--font-size);
  display: inline-block;
  transition: all .4s ease-in-out;
  
  &:hover,&:focus{
     color: var(--theme-purple) ;
   }
}

/* ================
product card
================ */

.card-inner{
  position: relative;
  margin: 20px;
}

.card__image{
  border-radius: var(--border-radius);
}

.cardbody{
  padding: 10px 18px;
}

.card__title{
  margin-bottom: 3px;
  color: var(--black-color);
}

.product-brand{
  color: var(--theme-purple);
  font-size: 10px;
  margin-bottom: 3px;
}

.new-badge{
  position: absolute;
  background-color: var(--theme-purple);
  color: var(--white-color);
  top: 5px;
  left: 5px;
}

/* ===========
pagetitle
========== */

.page-title{
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
 margin-left: 60px;
}

.page-title h1{
  font-family: var(--heading-font-handwriting);
  font-size: 70px;
  color: var(--theme-purple);
  font-weight: bold;
}


